.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item {
  margin-bottom: 5px;
}

.contact-item__name {
  font-weight: bold;
}

.contact-item__number {
  margin-left: 10px;
  color: #999;
}
